.character_card {
    background-color: var(--backcolor5);
    width: 610px;
    padding: 20px;
}

.small_image {
	width: 212px;
	height: 128px;
	background-color: var(--revshadow); 
	color: var(--charcard); 
	padding: 5px; 
	background-position: center;
	font-size: 10px;
}

.details_row {
	width: 444px; 
	padding: 3px; 
	text-align: center; 
	font-family: courier new; 
	font-size: 10px; 
	letter-spacing: -0.5px; 
	font-style: italic; 
	color: var(--highlight); 
	margin-bottom: 0px; 
	text-transform: uppercase;
}

.char_name {
    text-shadow: 1px 1px 1px var(--shadow);
    width: 620px;
    font-family: royal_Majesty;
    font-size: 60px;
    text-transform: lowercase;
    background-position: center;
    height: 40px;
    text-align: right;
    padding-top: 10px;
    padding-right: 0px;
}

.character_name {
    text-shadow: 1px 1px 1px var(--shadow);
    width: 652px;
    font-family: royal_Majesty;
    font-size: 60px;
    text-transform: lowercase;
    background-position: top center;
    height: 127px;
    position: absolute;
    left: 333px;
    padding-top: 220px;
    padding-left: 0px;
    letter-spacing: 1px;
    color: var(--textcolor0);
}

.tracker {
	width: 348px;
}

.details_table {
	text-align: center;
	font-size: 12px;
	width: 100%;
}

.sect_title {
	height: 20px;
	font-family: oswald;
	font-size: 17px;
	font-style: italic;
}

.sect_details {
    height: 200px;
    margin-bottom: 5px;
    margin-top: 0px;
    background-color: var(--backcolor1);
    width: 348px;
    padding: 5px;
    font-size: 11px!important;
    padding: 8px;
    vertical-align: top;
    text-align: left;
    color: var(--textcolor1);
    overflow: auto;
    font-family: helvetica!important;
    font-size: 13px!important;
    line-height: 100%;
	text-align: justify;
}

.basic_title {
    height: 20px;
    font-family: oswald;
    text-transform: uppercase;
    font-size: 14px;
    font-style: italic;
    height: 13px;
    margin-bottom: 5px;
    margin-top: -3px;
    margin-left: -2px;
    background-color: var(--backcolor1);
    width: 108px;
    font-size: 11px!important;
    padding: 5px;
    padding-top: 8px;
    vertical-align: top;
    text-align: center;
    color: var(--textcolor1);
    line-height: 100%;
}

.sect_details::-webkit-scrollbar {
	width: 2px;
	height: 2px;
}
	
.sect_details::-webkit-scrollbar-thumb {
	background: var(--scrollbar);
	border: 0px solid var(--reverseshadow);
	border-radius: 0px;
}

.sect_details::-webkit-scrollbar-track {
	background: var(--backcolor6);
	border: 0.5px solid var(--backcolor1);
	border-radius: 0px;
}

.sect_details::-webkit-scrollbar-corner {
	background: transparent;
}

.claims-entry {
    text-transform: none;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0px;
    font-family: helvetica;
    font-variant: small-caps;
}

.claims-entry b {
    text-transform: none;
    line-height: 100%;
    font-weight: normal;
    font-family: helvetica;
    font-size: 12px;
    letter-spacing: 0px;
    font-variant: small-caps;
}

#plane_arcadia .card_nm { color: var(--arcadia); }
#plane_arcadia .card_sml { border: 1px solid var(--arcadia); background-size: 240px 216px; background-repeat: no-repeat; width: 224px; }
#plane_arcadia .card_sdets { border: 1px solid var(--arcadia); }

#plane_elysium .card_nm { color: var(--elysium); }
#plane_elysium .card_sml { border: 1px solid var(--elysium); background-size: 240px 216px; background-repeat: no-repeat; width: 224px; }
#plane_elysium .card_sdets { border: 1px solid var(--elysium); }

#plane_kotus .card_nm { color: var(--kotus); }
#plane_kotus .card_sml { border: 1px solid var(--kotus); background-size: 240px 216px; background-repeat: no-repeat; width: 224px; }
#plane_kotus .card_sdets { border: 1px solid var(--kotus); }

#plane_mylaela .card_nm { color: var(--mylaela); }
#plane_mylaela .card_sml { border: 1px solid var(--mylaela); background-size: 240px 216px; background-repeat: no-repeat; width: 224px; }
#plane_mylaela .card_sdets { border: 1px solid var(--mylaela); }

#plane_rielian .card_nm { color: var(--rielian); }
#plane_rielian .card_sml { border: 1px solid var(--rielian); background-size: 240px 216px; background-repeat: no-repeat; width: 224px; }
#plane_rielian .card_sdets { border: 1px solid var(--rielian); }

#plane_zilard .card_nm { color: var(--zilard); }
#plane_zilard .card_sml { border: 1px solid var(--zilard); background-size: 240px 216px; background-repeat: no-repeat; width: 224px; }
#plane_zilard .card_sdets { border: 1px solid var(--zilard); }
